<div class="container" style="margin-top:50px; ">
  <div class="row">
    <div class="col-md-3 py-3" th:each="listaProveedor:${listaProveedor}">
      <div class="card-sl">
        <div class="card-image">
          <img th:if="${listaProveedor.imagen != null}" class="card-image"
            th:src="@{/imagen/perfil/__${listaProveedor.id}__}" width="auto" height="180">
        </div>
        <a class="card-action" href="#"><i class="fa fa-heart"  th:text="${listaProveedor.calificacion}"></i></a>
        <div class="card-heading" th:text="${listaProveedor.nombre}">Card title</div>
        <div class="card-text" th:text="${listaProveedor.rubro.rubro}"></div>
        <div class="card-text" >This is a longer card with supporting text</div>
        <div class="card-text" th:text="'$ '+${listaProveedor.honorario}"></div>
        <a class="card-button" th:href="@{/trabajo/persistirTrabajo/__${listaProveedor.id}__}">Contratar</a>
      </div>
    </div>
  </div>
</div>

