<div class="container" style="margin-top:50px;">
    <div class="row">
        <div class="col-md-3" th:each="proFiltrado : ${proFiltrados}">
            <div class="card-sl">
                <div class="card-image">
                    <img th:src="@{/imagen/perfil/__${proFiltrado.id}__}" width="auto" height="200"/>
                </div>
                <!--Agregar puntaje a la etiqueta i th:text="${proFiltrado.calificacion}"-->
                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                <div class="card-heading" th:text="${proFiltrado.nombre}"></div>
                <div class="card-text" th:text="${proFiltrado.rubro.rubro}"></div>
                <div class="card-text" th:text=" '$ '+${proFiltrado.honorario}"></div>
                <a th:href="@{/trabajo/persistirTrabajo/__${proFiltrado.id}__}" class="card-button">Contratar</a>
            </div>
        </div>
    </div>

    <!--th:text=" 'Bienvenido '+${session.usuarioSession.nombre}+' '+'('+${session.usuarioSession.rol}+')'" -->